
body{
    background-color: #ffff;

    @media screen and (min-width: 20px)  and (max-width: 700px) {
    *{
        overflow-x: hidden;
    }
      .body1{
            width: 900px;
        }

        .head{
            background-color: aliceblue;
            width: 100%;
            height: 3%;
            position: fixe;
            display: flex;
            padding: px;
        
             
        }
        .logo{
            margin-left: 5%;
            margin-top: 3px;
           border-radius: 50%;
           display: flex;
           width: 20%;
           height:20%;
        
        }
        .h1{
        margin-top: 5.7%;
          margin-left: 2%;
          color: darkblue;
          font-size: 400%;
        }

        .hamburguer{
            margin-top: 8%;
            display: block;
            margin-left: 15%;
            transition: .7s;
        }
        .bar1{
            transition: .7s;
            background-color: darkblue;
            width: 45px;
            height: 5%;
            margin-top: 5px;
            border-radius: 1px;
        }
        .bar2{
            transition: .7s;
            border-radius: 1px;
            background-color: darkblue;
            width: 45px;
            height: 5%;
            margin-top: 5px;
        }
        .bar3{
            
            border-radius: 1px;
            background-color: darkblue;
            width: 45px;
            height: 5%;
            margin-top: 5px;
        }

        .menu{
            display: block;
            text-align: center;
            list-style: none;
            margin-top: 35%;
            background-color: darkblue;
            height: 150%;
            width: 100%;
            border-bottom-left-radius: 50%;
            display: none;
            z-index: 1;
            position: absolute;
            margin-left: -90%;
            transition: 10s;
            }
            
            .a1{
                margin-top: 90px;
                text-align: justify;
            }

            .a{
                text-decoration: none;
                list-style: none;
                color: #ffff;
                 background-size: 100%;
                 font-size: 350%;
                 margin-top: 100px;
                
            }

            .back{
                background-image: url('./imagem/logo.jpg');
                width: 100%;
                height: 800px;
                background-repeat: repeat;
                background-attachment: fixed;
                 background-size: contain;
                 text-align: justify;
            }
            .animated-text{
                color: white;
              font-size: 250%;  
              text-align: justify;
              width: 100%;
            }
            .animated-text span{
                position: relative;
               
            }
        
            .p2 {
                margin-top: 10px;
                position: relative;
                padding-top: 110px;
                text-align: center;
            }
        
            .animated-text span::before{
                content: "";
                color: #279EF4;
                
                animation: animate 40s ease-in-out infinite; 
                 
            
               
            
            }
            .animated-text span::after{
                opacity: 1;
                content: "";
                border-left: 2px solid rgb(29, 13, 250);
                position: absolute;
                right: -1px;
                animation: type 40s ease-in-out  infinite ;
                background-color: #ffff;
                height: 100%;
                width: 0; 
            }
            .sobreNos{
                display: block;
                text-align: center;
                margin-top: 10%;
                margin-left: 10%;
                margin-bottom: 10%;
            }
        
            .sobreNosH{
                color: darkblue; 
               margin-left: 23%;
                justify-content: center;
                text-align: justify;
                margin-top: 6.5%;
                font-size: 80px;
            }
        
            .sobreNosCard{
                background-color: #ffff;
                width: 700px;
                height: 1600px;
                margin-top: 10px;
                margin-left: 27px;
                border-top: 1px solid darkblue;
                border-left: 0px solid darkblue;
                border-radius: 0px;
                margin-bottom: 100px;
                border-bottom: 2px solid #279EF4;
            }
             .sobreNos .cardH {
                color: darkblue;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin-right: auto;
                font-size: 60px;
            }
           .sobreNos .cardP {
                text-align: justify;
                font-size: 50px;
                padding: 0px 8px 0px 8px;
                
            }

            .cardH {
                color: darkblue;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin-right: auto;
                font-size: 60px;
            }
            .cardP {
                text-align: justify;
                padding: 0px 8px 0px 8px;
                font-size: 40px;
                
            }
            .card1{
               background-color: aliceblue;
                width: 90%;
                height: 1800px;
                margin-top: 10px;
                margin-left: 4.5%;
                box-shadow: 0px 0px 20px #888 ;
                border-radius: 0px;
                margin-bottom: 150px;
            }
            a{
                text-decoration: none;
                border-bottom: 5px;
                font-size: 40px;
               color: darkblue;
            }
            .saiba{
                margin-left: 35%;
                margin-top: 60px;
                text-decoration: none;
                border: 1px solid darkblue;
                width: 35%;
                border-radius: 15px;
                padding: 5px;
                text-align: center;
            }
        
            .saiba:hover{
                color: white;
                background-color: #279EF4;
                font-size: 20px;
                transform: scale(1);
                transition: 2s;
            }
            .aiba{
               
                margin-top: 60px;
                text-decoration: none;
                font-size: 40;
            
                border-radius: 10px;
                
                text-align: center;
            }
        
            .img{
                width: 90%;
                height: 40%;
                margin-left: 3%;
            }
            .slogan {
                width: 100%;
                color: darkblue;
                font-size: 60px;
                margin-left: 0%;
                border-bottom: 1px solid darkblue;
                text-align: center;
            }
          .slogan span::before {
                content: '';
                width: 0%;
                height: 0px;
                background-color: darkblue;
                position: absolute;
                margin-top: 10%;
                margin-left: 0%;
                
            }
            .slogan span::after {
                content: '';
                width: 0%;
                height: 0px;
                background-color: darkblue;
                position: absolute;
                margin-top: 1.3%;
            }
            .cardAll{
                display: block;
                margin-top: 20px;
                align-items: center;
            }

            /*Footer*/
            footer{
                background-image: url('./imagem/logo.jpg');
                background-attachment: fixed;
                background-size: contain;
                 margin-top:10%;  
                 height: 750px; 
                 background-repeat: round;

             }   
             .top{
                     width: 100%;
                     height: 600px;
                     background-attachment: fixed;
                      background-size: cover;
                      margin-top: 4%;
                      display: block;
             }
             .footerCard1{
               
                 background-color: #ffff;
                 width: 0%;
                 height: 0px;
                 padding-top:5%;
                 margin-top: 10%;
                 border: 0px solid #ffff;
             }
             .footerCard .img{
                 width: 20%;
                 height: 20%;
                 margin-left: 35%;
                 margin-top: -0.7%;
             }
             
             .footerCard{
                    
                 background-color: #ffff;
                 width: 100%;
                 height: 170%;
                 padding-bottom: 0%;
                 border-right: 5px solid darkblue;
                 background-color: aliceblue;
                 border-bottom: 40px solid #fff;
             }
                .redes{
                 display: flex;
                 margin-left: 2%;
                 justify-content: center;
                }
                .redes img{
                 border-radius: 50%;
                 width: 10%;
                 margin-left: 4%;
                 margin-top: 10%;
                 margin-bottom: 10%;
                }
                .join{
                 display: flex;
                 margin-left: -25%;
                }
                .telefone{
                 display: flex;
                 margin-left: 12%;
                 justify-content: center;
                 margin-top: 15%;
                 margin-bottom: 10%;
                 color: black;
                }
                .telefone img{
                 border-radius: 50%;
                 
                 
                }
                .email{
                 display: flex;
                 margin-left:10%;
                 justify-content: center;
                 color: black;
                }
                .email img{
                 
                 border-radius: 20%;
                }
                .cardp{
                 margin-left: 20%;
                 margin-top: 20%;
                }
    }
    
}

.head{
    background-color: aliceblue;
    width: 100%;
    height: 8%;
    position: fixe;
    display: flex;
    padding: px;

     
}
.logo{
    margin-left: 5%;
    margin-top: 3px;
   border-radius: 50%;
   display: flex;
   width: 80px;
   height: 80px;

}
.h1{
  margin-left: 2%;
  color: darkblue;
}

.hamburguer{
    margin-top: 3%;
    margin-left: 5%;
    display: none;
}
.bar1{
    background-color: darkblue;
    width: 20px;
    height: 5px;
    margin-top: 1.5px;
}
.bar2{
    background-color: darkblue;
    width: 20px;
    height: 5px;
    margin-top: 1.5px;
}
.bar3{
    background-color: darkblue;
    width: 20px;
    height: 5px;
    margin-top: 1.5px;
}

 .menu{
    display: flex;
    margin-left:90%;
    text-align: center;
    list-style: none;
    margin-top: 2%;
    }
    

    .a{
        margin-left: 40px;
        text-decoration: none;
        list-style: none;
        color: darkblue;
        font-size: 20px;
background-size: 100%;
        
    }

    .back{
        background-image: url('./imagem/logo.jpg');
        width: 100%;
        height: 600px;
        background-repeat: no-repeat;
        background-attachment: fixed;
         background-size: cover;
         text-align: center;
        
    }
    .animated-text{

        font-size: 30px;
        color: #fff;

      
    }
    .animated-text span{
        position: relative;
       
    }

    .p2 {
        margin-top: 10px;
        position: relative;
        padding-top: 110px;
        text-align: center;
    }

    .animated-text span::before{
        content: "";
        color: #279EF4;
        
        animation: animate 40s ease-in-out infinite; 
         
    
       
    
    }
    .animated-text span::after{
        opacity: 1;
        content: "";
        border-left: 2px solid rgb(29, 13, 250);
        position: absolute;
        right: -1px;
        animation: type 40s ease-in-out  infinite ;
        background-color: #ffff;
        height: 100%;
        width: 0;
       
        
       
    }
    
    @keyframes type {
        10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
            width: 0;
        }
        5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%, 0%{
            width: 100%;
        }
        
    }
    
    
    
    @keyframes animate {
        0%, 20%{
            content: "Uma viagem ao passado";
        }
        21%, 40%{
            content: "Com o melhor hambúrguer ";
        }
        41%, 60%{
            content: "Revivendo suas partidas";
        }
        61%, 80%{
            content: " Com o seu jogo nostálgico";
        }
         81%,100%{
            content: "Único com a RetroBurguer";
        }
        
    }
    body1{
        background-color: #ffff;
        width: 900px;
    }
    .cardAll{
        display: flex;
        

    }

        .img{
            width: 45%;
            height: 45%;
            margin-left: 27%;
            margin-top: 5%;
        }

    .footerCard .cardP{
        text-align: center;
    }

    .cardH {
        color: darkblue;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-right: auto;
        
    }
    .cardP {
        text-align: justify;
        padding: 0px 8px 0px 8px;
        
    }
    .card1{
       background-color: aliceblue;
        width: 600px;
        height: 550px;
        margin-top: 10px;
        margin-left: 27px;
        box-shadow: 0px 0px 20px #888 ;
        border-radius: 5px;
        
    }
    a{
        text-decoration: none;
        border-bottom: 5px;
        font-size: 20px;
       color: darkblue;
    }
    .saiba{
        margin-left: 40%;
        margin-top: 60px;
        text-decoration: none;
        border: 1px solid darkblue;
        width: 15%;
        border-radius: 10px;
        padding: 5px;
        text-align: center;
    }

    .saiba:hover{
        color: white;
        background-color: #279EF4;
        font-size: 20px;
        transform: scale(1);
        transition: 2s;
    }
    .aiba{
       
        margin-top: 60px;
        text-decoration: none;
        
    
        border-radius: 10px;
        
        text-align: center;
    }

    
    .slogan {
        margin-left: 31.5%;
        color: darkblue;
    }
  .slogan span::before {
        content: '';
        width: 20%;
        height: 3px;
        background-color: darkblue;
        position: absolute;
        margin-top: 1.3%;
        margin-left: -20%;
        
    }
    .slogan span::after {
        content: '';
        width: 20%;
        height: 3px;
        background-color: darkblue;
        position: absolute;
        margin-top: 1.3%;
    }
    .sobreNos{
        display: flex;
        text-align: center;
        margin-top: 10%;
        margin-left: 10%;
        margin-bottom: 10%;
    }

    .sobreNosH{
        color: darkblue;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 7.5%;
        
    }

    .sobreNosCard{
        background-color: #ffff;
        width: 600px;
        height: 230px;
        margin-top: 10px;
        margin-left: 27px;
        border-left: 3px solid darkblue;
        border-radius: 20px;
        
    }
    
footer{
   background-image: url('./imagem/logo.jpg');
   background-attachment: fixed;
   background-size: cover;
margin-top: -15%;  
height: 1000px;  
}   
.top{
        width: 100%;
        height: 400px;
        background-attachment: fixed;
         background-size: cover;
         margin-top: 24%;
         display: flex;
}
.footerCard1{
    
    background-color: #ffff;
    width: 100%;
    height: 250px;
    padding-top: 10%;
}
.footerCard .img{
    width: 100px;
    height: 100px;
    margin-left: 35%;
    margin-top: -0.7%;
}

.footerCard{
       
    background-color: #ffff;
    width: 100%;
    height: 170px;
    padding-bottom: 10%;
    border-right: 5px solid darkblue;
    background-color: aliceblue;
    border-bottom: 40px solid #fff;
}
   .redes{
    display: flex;
    margin-left: 2%;
    justify-content: center;
   }
   .redes img{
    border-radius: 50%;
    width: 10%;
    margin-left: 4%;
    margin-top: 10%;
    margin-bottom: 10%;
   }
   .join{
    display: flex;
    margin-left: -25%;
   }
   .telefone{
    display: flex;
    margin-left: 12%;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 10%;
    color: black;
   }
   .telefone img{
    border-radius: 50%;
    width: 8%;
    margin-right: 4%;
    
   }
   .email{
    display: flex;
    margin-left:12.5%;
    justify-content: center;
    color: black;
    width: 75%;
   }
   .email img{
    width: 10%;
    border-radius: 20%;
   }
   .cardp{
    margin-left: 20%;
    margin-top: 20%;
   }